# Python
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/
.eggs/
wheels/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# Artifacts
artifacts/
Artifacts/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db